<div class="person-card">
    <div class="bio-content">
        <div class="top-content">
            <img src="{{ site.baseurl }}/assets/imgs/profile.jpg" alt="Arni Freyr" class="bio-image">
            <div class="bio-titles">
                <h2 class="bio-name">Arni Freyr Thorsteinsson</h2>
                <p class="bio-employment">Software solution architect and dev freelancer</p>
            </div>
        </div>
        <p class="bio-description">
            Arni Freyr Thorsteinsson is a seasoned software solution architect with over 10 years of experience in the industry. Currently, he works at the Icelandic Federal Government, where he has successfully rewritten numerous legacy products and developed new systems. Notably, Arni spearheaded the overhaul of the firearm registration and permit system and paved the way for electronic IDs for both firearm permits and driver's licenses. During his tenure, he also undertook extensive integration development with Digital Iceland, enhancing the interoperability and efficiency of government services.
        </p>
        <p class="bio-description">
            Prior to his current role, Arni worked at Sidelines Sports, where he created applications to capture athlete metrics and facilitate communication between coaches and athletes. His innovative solutions greatly enhanced the efficiency and effectiveness of sports training and management.
        </p>
        <p class="bio-description">
            Before joining Sidelines Sports, Arni was with LS Retail, working with Xamarin to develop iOS apps that integrated with physical payment solutions. His contributions helped streamline payment processes and improve user experiences.
        </p>
        <p class="bio-description">
            With a decade of experience under his belt, Arni is always on the lookout for new and exciting projects. His passion for software development and his ability to tackle complex challenges make him a valuable asset to any team.
        </p>
    </div>
</div>